a {
    text-decoration: none;
    color: inherit;
}

.page-header {
    text-align: center;
    font-weight: 400;
    font-size: 1.563rem;
}

@media (min-width: 352px) {
    .page-header {
        font-size: 1.875rem;
    }
}

@media (min-width: 400px) {
    .page-header {
        font-size: 2rem;
    }
}

@media (min-width: 600px) {
    .page-header {
        font-size: 2.188rem;
    }
}
