.description-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: -1;
}
.description {
    max-width: 335px;
    margin: -50px 20px 20px 20px;
    text-align: center;
    color: #b7c1ce;
    font-size: 1.2rem;
}

.support-us-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 50px;
}

.support-us {
    font-size: 0.8rem;
}

@media (min-width: 376px) {
    .description {
        margin-top: -100px;
    }
}

@media (min-width: 400px) {
    .description {
        margin-top: -100px;
    }
}

@media (min-width: 992px) {
    .description {
        max-width: 720px;
    }
}
